
@font-face {
  font-family: digital;
  src: url(./assets/Fonts/Digital.otf);
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#timer-container {
  background-color: #202937;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  border-radius: 10px;
}
#timer-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3rem;
}
#timer-container h3 {
  font-family: digital;
  font-size: 3.7rem;
  font-weight: 1;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #000000;
  border: 1px solid #dde8f4;
  border-radius: 10px;
  padding: 5px 20px 3px;
  width: 130px;
  color: #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  text-shadow: 0px 0px 10px #6290c8;

}
#timer-btns {
  margin-top: 5px;
  margin-bottom: 5px;
}
#start-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  margin-top: 10px;
  border: 1px solid #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  transition: box-shadow 0.3s ease-in-out;
}

#start-btn:hover {
  box-shadow: 0 0 10px 0px #6290c8;
}

#start-btn div {
  padding-left: 5px;
  padding-top: 2px;
}
.svg-shadow {
  filter: drop-shadow(0px 0px 5px #6290c8);
}
#videos {
  margin-top: 100px;
}
#total-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#total-time-container h2 {
  font-size: 0.75rem;
  margin-top: 10px;
}
#total-time-container h3 {
  font-size: 1.5rem;
  width: 52px;
  margin-top: 5px;
  padding: 5px 12px 3px;
}