
@font-face {
  font-family: digital;
  src: url(./assets/Fonts/Digital.otf);
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#timer-container {
  background-color: #202937;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  border-radius: 10px;
}
#timer-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3rem;
}
#timer-container h3 {
  font-family: digital;
  font-size: 3.7rem;
  font-weight: 1;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #000000;
  border: 1px solid #dde8f4;
  border-radius: 10px;
  padding: 5px 20px 3px;
  width: 130px;
  color: #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  text-shadow: 0px 0px 10px #6290c8;

}

#timer-btns {
  margin-top: 5px;
  margin-bottom: 5px;
}
#start-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  margin-top: 10px;
  border: 1px solid #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  transition: box-shadow 0.3s ease-in-out;
}

#start-btn:hover {
  box-shadow: 0 0 10px 0px #6290c8;
}

#start-btn div {
  padding-left: 5px;
  padding-top: 2px;
}
.svg-shadow {
  filter: drop-shadow(0px 0px 5px #6290c8);
}


#videos {
  height: 0px;
  width: 0px;
}
#total-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#total-time-container h2 {
  font-size: 0.75rem;
  margin-top: 10px;
}
#total-time-container h3 {
  font-size: 1.5rem;
  width: 85px;
  margin-top: 5px;
  padding: 5px 12px 3px 13px;
}

.volume-control {
  width: 30px;
  height: 90px;
  /* background-color: #da1212; */
  position: absolute;
  right: 40px;
  bottom: 125px;
  border: 2px solid #000;
}
#volume-svg-container {
  border-radius: 50%;
  background-color: #000000;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  border: 1px solid #dde8f4;
  filter: drop-shadow(0px 0px 5px #6290c8);
  transition: box-shadow 0.3s ease-in-out;
  position: absolute;
  bottom: -5px;
  left: 2px;
  z-index: 4;
}
#volume-svg {
  z-index: 3;
  position: relative;
  left: 5px;
  bottom: -3.8px;  
  }


.volume-bar-container {
  position: relative;
  width: 4px;
  height:  70px;
  background-color: #ccc;
  left: 32%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  top: 10px;
}

.volume-bar {
  position: absolute;
  bottom: -0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #dde8f4;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  filter: drop-shadow(0px 0px 5px #6290c8);
  z-index: 2;
}

.volume-bar-thumb {
  position: absolute;
  bottom: 0px;
  left: -3px;
  width: 7px;
  height: 3px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}






 






























