
@font-face {
  font-family: display;
  src: url(./assets/Fonts/display.ttf);
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#timer-container {
  background-color: #202937;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border: 1px solid #6290c8;
  border-radius: 10px;
}
#timer-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3rem;
}
#timer-container h3 {
  font-family: display;
  font-size: 2.3rem;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: #000000;
  border: 1px solid #6290c8;
  border-radius: 10px;
  padding: 10px;
  width: 130px;
}
#timer-btns {
  margin-top: 5px;
  margin-bottom: 5px;
}
#start-btn {
  border: 2px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #000000;
  margin-top: 10px;
}
#start-btn div {
  padding-left: 5px;
}
#videos {
  margin-top: 100px;
}
#total-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#total-time-container h2 {
  font-size: 0.75rem;
  margin-top: 10px;
}
#total-time-container h3 {
  font-size: 1.5rem;
  width: 55px;
  margin-top: 5px;
  padding: 10px;
}